<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/mainPage.css">
  <title>dobrodošli</title>
</head>
<body>
    <div class="container">
      <p>demonstracija ranjivosti: SQL umetanje (SQL Injection)</p>
      <%- mailTrackingButton %>
    </div>   
    
    <div class="container">
      <p>demonstracija ranjivosti: loša autentifikacija (Broken Authentication)</p>
        <%- loginButton %>
    </div>   
</body>
</html>
