<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zabranjen pristup</title>
    <link rel="stylesheet" href="/styles/mainPage.css">
</head>
<body>
    <h1>pristup odbijen</h1>
    <p>prijavite se i pokušajte ponovno</p>
</body>
</html>
